<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4 class="text-center">현재전기 검침량</h4>
      <mat-card class="text-right">12345</mat-card>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">현재수도 검침량</h4>
      <mat-card class="text-right">12345</mat-card>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">현재가스 검침량</h4>
      <mat-card class="text-right">12345</mat-card>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" class="floor-btn">1층전등 ON</button>
      <button mat-raised-button color="primary" class="floor-btn">2층전등 ON</button>
      <button mat-raised-button color="primary" class="floor-btn">3층전등 ON</button>
      <button mat-raised-button color="primary" class="floor-btn">4층전등 ON</button>
      <button mat-raised-button class="floor-btn">5층전등 OFF</button>
    </div>
  </div>
</div>
