<div class="container">
  <div class="row">
    <div class="col-md-12">
	  <div class="alert alert-info" role="alert">
		TCP 장비 연결시 HOST - 115.71.233.53, PORT - 9000 으로 설정 해주세요.
	  </div>
      <div class="alert alert-info">
        시험단계의 Client -> Device 간 필드입니다.
      </div>
      <div class="form-group">
        <textarea rows="10" class="form-control" placeholder="장비로 보낼 패킷데이터를 작성 해주세요." [(ngModel)]="packet"></textarea>
      </div>
      <div class="well">
        {{ packet }}
      </div>
      <a (click)="packet_send()" class="btn btn-primary">패킷 전송</a>
    </div>
  </div>
  <hr>
  <h3>로그 리스트</h3>
  <hr>
  <ul>
    <li *ngFor="let event_list of event_lists">
      {{ thisTime | date:"yyyy-MM-dd hh:mm:ss" }}<br>
      바인딩 된 데이터 -
      <p><b>{{ event_list }}</b></p>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
