<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- LOGO -->
    <span>
      <a routerLink="/" class="toolbar-logo">DELTA-ON</a>
    </span>
    <!-- END LOGO -->

    <!-- 툴바 Spacer -->
    <span class="spacer"></span>

    <!-- Right Toogle -->
    <button mat-icon-button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">리스트</button>
    </mat-menu>

    <!-- Right Toogle -->

  </mat-toolbar-row>

</mat-toolbar>
<!-- END Toolbar -->
<hr>
<router-outlet></router-outlet>
<app-footer></app-footer>
