@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { overflow-y: scroll; }
html, body { height: 100%; }
.container{ height: 100%; }
app-root { height: 100%; }
router-outlet + * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cursor { cursor: pointer; }
