@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { overflow-y: scroll; }
html, body { height: 100%; }
.container{ height: 100%; }
app-root { height: 100%; }
router-outlet + * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#splash {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  display:-webkit-flex;
  -webkit-align-item: center;
  -webkit-justify-content:center;
  font-weight: bold;
  font-size: 32px;
}

.cursor { cursor: pointer; }
